<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Categories:</strong>
    <%= article.categories.map(&:name).join(", ") %>
  </div>
  <div>
    <strong>Body:</strong>
    <%= article.body %>
  </div>

</div>
